
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
}


.style-box {
  width: 200px;
  height: 100px;
  background-color: #d5eef6;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
}

.styled-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}