#container{
    display: flex;
     align-items: center;
     justify-content: space-between;
     width: 80vw;
     margin-top: 45vh;
} 
.green-btn{
    background-color: rgba(60, 245, 14, 0.945);
    height: 35px;
    width: 130px;
    border: 0.3px solid black;
    font-size: 2.5vw;
    border-radius: 25px;
}