body {
  font-family: 'Roboto', sans-serif;
  background-image: url('bgimage.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  margin: 20px;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.image {
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
